
@font-face {
  font-family: font;
  src: url(font.ttf)
}

header{
    display: flex;
    height: 30px;
    margin-bottom: 10px;
    color: white;
    background: rgb(5,2,1); 
    background: -moz-linear-gradient(left, rgba(5,2,1,1) 0%, rgba(4,21,168,1) 53%, rgba(5,3,2,1) 100%); 
    background: -webkit-linear-gradient(left, rgba(5,2,1,1) 0%,rgba(4,21,168,1) 53%,rgba(5,3,2,1) 100%); 
    background: linear-gradient(to right, rgba(5,2,1,1) 0%,rgba(4,21,168,1) 53%,rgba(5,3,2,1) 100%); 
    align-items: center;
    justify-content: center;

}
header > h3 {
    
    align-items: center;
    padding: 0px;
    margin: 0px;
}
body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: font;
    background-color: #0415A8;
    background-attachment: fixed;
    background-size: cover;


}


.main-container{
    //border: 1px solid white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}
.main{
    border: 1px solid white;
    min-width: 250px;
    margin: 2px;
}

#active{
    padding-left: 0px;
    
    
}

#input::placeholder {
    opacity: 0.7;
    font-size: 1em;
    font-style: italic;
    color: lightgray;
}

.rows{
    display: flex;
}
.leftrow {
	box-sizing: border-box;
    width: 50%;
    min-height: 300px;
}
.rightfinished {
	box-sizing: border-box;
    width: 50%;
    min-height: 300px;
}



li{

    list-style-type: none;
    width: 100%;
    height: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    //background-color: rgba(250, 250, 250, 0.6)

}

li#items{
    text-align: center;
    color: #F5F358;
    -webkit-animation: fadein 3s ease 0s forwards;
    animation: fadein 3s ease 0s forwards;
    animation-fill-mode: both !important;
    visibility: visible !important;
    
}

.content{
    
        //width: 100%;
        border: 1px solid white;
        box-sizing: border-box;



}
#active{
    text-align: center;
    -webkit-animation: fadein 1s ease 0s forwards;
    animation: fadein 1s ease 0s forwards;
    animation-fill-mode: both !important;
    visibility: visible !important;
}

#finished{
    text-align: center;
}
ul {
	list-style: none;
    //border: 1px solid white;
    
}
ul li:before {
    
	//content: "\25b6";
}
.boxHeader {
    height: 100px;
	display: flex;
    justify-content: center;
    align-items: center;    
}
.headerText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    background: #A8AAB3;
}
h1{
    
    padding: 0px;
    margin: 0px;
    color: white;
    box-sizing: border-box;
    
}
h2{
   color: white; 
   text-align: center;
}


.center-focus{

        border: 1px solid white;
        box-sizing: border-box;



}
#items{
    margin: 5px;
}

#input{
    background-color: #A8AAB3;
    padding: 0 0 0 2%;
    color: #000;
    margin-right: 2%;
    font-size: 1.8em;
    font-family: font;
    width: 70%;
    height: 33px;
    border: 1px solid white;
    box-sizing: border-box;


}
.buttonTest {
    display: flex;
	border: 1px solid white;
    font-size: 0.8em;
}

#deleteButton, #doneButton{
    font-family: font;
     cursor: pointer;
    color: white;
    font-size: 0.8rem;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    margin-bottom: 10px;
    padding: 4px 10px;
    line-height: 1;
    width: 64px;
      -webkit-animation: fadein 1s ease 0s forwards;
    animation: fadein 1s ease 0s forwards;
    animation-fill-mode: both !important;
    visibility: visible !important;
}
#deleteButton:hover{
    background-color: #A60A12;
}

.inputandbutton {
	display: flex;
    align-items: center;
}

#doneButton:hover{
    background-color: #A60A12;
}

#addButton{
    font-family: font;
    cursor: pointer;
    color: white;
    font-size: 2.4rem;
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid #fff;
    padding: 4px 10px;
    line-height: 1;
    width: 30%;
    height: 55px;
    margin-right: 2%;
    margin-bottom: 8px;
}
#addButton:hover {
	background: #A60A12; 
}
#addButton:active {
   box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.75);
    font-size: 2rem;

}

#deleteAllButton{
    text-align: center;
    font-family: font;
     cursor: pointer;
    color: white;
    font-size: 0.8rem;
    background: #A60A12; 
    border: 1px solid white;
    padding: 4px 10px;
    line-height: 1;
    width: 84px;
}

#deleteAllButton:active, #doneButton:active, #deleteButton:active {
	
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.75);
    font-size: 0.7rem;
}
.leftrow {
	border: 1px solid white;
}
.rightfinished {
	border: 1px solid white;
}

#finished {
	padding-left: 0px;
}

.footer{
    width: 100%;
    padding-top: 30px;
    //display: flex;
    text-align: center;
    color: #F5F358;
    //border: 1px solid white;
   
}
h3:nth-child(2){
    color: white;
}


.fadein {
  -webkit-animation: fadein 1s ease 0s forwards;
    animation: fadein 1s ease 0s forwards;
    animation-fill-mode: both !important;
    visibility: visible !important;
}
@-webkit-keyframes fadein
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes fadein
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@media screen and (max-width: 560px){
    
    h1{
    
    }
    #input{
        width: 100%;
    }
    
    #addButton {
	width: 100%;
}
    .inputandbutton {
	display: block;
}
    
    .rows{
        display: block;
        
    }
    .leftrow {
	width: 100%;
}
    .rightfinished {
	width: 100%;
}
    header{
        display: none;
    }
}


