@font-face {
  font-family: font;
  src: url(font.ttf)
}


body{
    height: 100%;
    //display: flex;
    justify-content: center;
    font-family: font;
    background-color: #0415A8;
    background-attachment: fixed;
    background-size: cover;


}



.main-container{
    //border: 1px solid white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}

#onGoing{
    padding-left: 0px;
    
    
}

.rows{
    display: flex;
}
.leftrow {
	box-sizing: border-box;
    width: 50%;
    min-height: 300px;
}
.rightfinished {
	box-sizing: border-box;
    width: 50%;
    min-height: 300px;
}



li{

    list-style-type: none;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    //background-color: rgba(250, 250, 250, 0.6)

}

li#items{
    text-align: center;
    color: #F5F358;
}

.content{

        border: 1px solid white;
        box-sizing: border-box;



}
#onGoing{
    text-align: center;
}

#finished{
    text-align: center;
}
ul {
	list-style: none;
}
ul li:before {
    
	//content: "\25b6";
}
h1{
    margin-left: 150px;
    margin-right: 150px;
    background: #A8AAB3;
    color: white;
    padding-top: none;
    text-align: center;
    box-sizing: border-box;
    
}
h2{
   color: white; 
    text-align: center;
}


.center-focus{

        border: 1px solid white;
        box-sizing: border-box;



}
#items{
    margin: 5px;
}

#input{
    background-color: #A8AAB3;
    //background-color: rgba(250, 250, 250, 0.3);
    padding: 0 0 0 2%;
    color: #000;
    margin-right: 2%;
    font-size: 2em;
    font-family: font;
    width: 70%;
    height: 30px;
    border: 1px solid white;
    box-sizing: border-box;


}
.buttonTest {
    display: flex;
	border: 1px solid white;
    font-size: 0.8em;
}
#deleteButton{
    font-family: font;
     cursor: pointer;
    color: white;
    font-size: 0.8rem;
    background: rgba(0, 0, 0, 0.2);
    //background: rgba(0, 0, 0, 0.2);
    //border: 3px solid #fff;
    border: none;
    padding: 4px 10px;
    line-height: 1;
    width: 84px;
}
#deleteButton:hover{
    background-color: #A60A12;
}


#doneButton{
    font-family: font;
     cursor: pointer;
    color: white;
    font-size: 0.8rem;
    background: rgba(0, 0, 0, 0.2);
    //background: rgba(0, 0, 0, 0.2);
    //border: 3px solid #fff;
    border: none;
    //margin-left: 20px;
    padding: 4px 10px;
    line-height: 1;
    width: 74px;
}
#doneButton:hover{
    background-color: #A60A12;
}

#addButton{
    font-family: font;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.2);
    border: 3px solid #fff;
    padding: 4px 10px;
    line-height: 1;
    width: 94px;
}
#addButton:hover {
	background: #A60A12; 
}

#deleteAllButton{
    text-align: center;
    font-family: font;
     cursor: pointer;
    color: white;
    font-size: 0.8rem;
    background: #A60A12;
    //background: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    padding: 4px 10px;
    line-height: 1;
    width: 84px;
}
#deleteAllButton:hover{
    background-color: #A60A12;
}

.leftrow {
	border: 1px solid white;
}
.rightfinished {
	border: 1px solid white;
}

#finished {
	padding-left: 0px;
}

.footer{
    width: 100%;
    padding-top: 30px;
    //display: flex;
    text-align: center;
    color: #F5F358;
    //border: 1px solid white;
   
}
h3:nth-child(2){
    color: white;
}


.fadein {
  -webkit-animation: fadein 3s ease 0s forwards;
    animation: fadein 3s ease 0s forwards;
    animation-fill-mode: both !important;
    visibility: visible !important;
}
@-webkit-keyframes fadein
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes fadein
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
